.App {
  text-align: center;
  font-family: Futura;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*
.jumbotron {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
*/

.jumbotron {
  height: 150px;
}

.jumbotron img {
  height: 100px;
}

video {
  width: 100%;
  vertical-align: middle;
}

#aboutGif {
  display: flex;
  margin: auto;

}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}