.App {
  text-align: center;
  font-family: Futura;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.jumbotron {
  background-image: url(./media/namewritten.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

video {
  width: 100%;
  vertical-align: middle;
}